.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  padding: 0 2rem;
  width: 100%;
  background-color: rgb(66, 66, 66);
  .footer-content {
    display: flex;
    height: 70%;
    border-bottom: 1px solid white;
    width: 100%;
    max-width: 1200px;
    .footer-left {
      &__title {
        font-size: 1.2rem;
        text-transform: uppercase;
        font-weight: 600;
        color: #fff;
        letter-spacing: 1px;
      }
      &__info {
        padding: 0.5rem 0 2rem 0;
        line-height: 1.5rem;
      }
    }
    .footer-right {
      padding-top: 3rem;
      &__title {
        padding: 0 0 0 0.3rem;
        font-size: 1.9rem;
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
      }
      &__info {
        flex-wrap: wrap;
        width: 100%;
        padding: 0.5rem;
        flex-direction: row;
        display: flex;
        .social-btn {
          background: none;
          cursor: pointer;
          display: block;
          padding: 1rem 0.9rem;
        }
      
      }
    }
  }
}

.footer-lower {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 70px;
  a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 0.3rem;
    text-decoration: none;
  }
}
